<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nurses on the Go</title>
    <link rel="stylesheet" href="../public/homePage.css">
    <link rel="stylesheet" href="../public/loaderAnimation.css">
    <script src="../public/js/loader.js" defer></script>
  </head>
  <body>
    <div class="loader"></div>
    <section>
      <div class="content">
        <img src="../public/images/nurses-on-the-go.png" alt="Nurses on the go icon" />
        <h4 class="subtitle">
          Nurses on the Go — Endorse Anytime, Anywhere!
        </h4>
        <h1 class="headline">
          Fast-Track Your Nursing Career — <br>Get Endorsed<br> Online with Ease!
        </h1>
        <div class="button-container">
          <a href="mainMenu.html"><button id="log-in" class="start-button">GET STARTED</button></a>
        </div>
      </div>

      <div class="right-panel">
       
      </div>
    </section>
  </body>
</html>
