* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body, html {
        font-family: serif;
      }

      section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-image: url('../assets/bg1.png');
        background-size: cover;
        background-position: center;
        
      }

      .content {
        padding: 8rem;
        width: 50%;
        max-width: 50%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2.5rem;
      }

      .content img {
        width: 280px;
      }

      .subtitle {
        color: #154161;
        font-size: clamp(16px, 2vw, 20px);
        font-weight: bold;
      }

      .headline {
        color: #97B5C4;
        line-height: 1.2;
        font-weight: 800;
        font-size: clamp(1rem, 4vw, 3.75rem);
        text-align: center;
      }
    .right-panel {
      height: 100vh;
      width: 50%;
      background: url('./images/bg1.png');
      background-position: center;
      background-size: cover;

    }


      .button-container {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .start-button {
        background-color: #97B5C4;
        border: 2px solid #97B5C4;
        color: white;
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem 5rem;
        cursor: pointer;
        transition: transform 0.2s ease;
      }

      .start-button:hover {
        transform: scale(1.02);
      }
    
          
      @media (max-width: 1350px) {
        .content {
          padding: 5rem;
        }
      }

      @media (max-width: 850px) {
        .content {
          padding: 2rem;
        }
        .start-button {
          padding: 1rem 3rem;
          font-size: .8rem;
        }
      }

      @media (min-width: 768px) {
        .headline {
          text-align: left;
        }
      }

      @media (max-width: 600px) {

        .right-panel {
          display: none;
        }
        .content {
          max-width: 100%;
          width: 100%;
          padding: 0;
          align-items: center;
          background: url('../public/images/bg1.png');
          border: none;
        }
        .right-panel img {
          object-fit: center;
        }
        .subtitle {
          font-size: 18px;
          margin-inline: 2rem;
          background-color: rgba(255, 255, 255, 0.5); /* 0.3 = 30% opacity */
          border-radius: 20px;
          padding: .5rem;
        }
        .headline {
          font-size: 3rem;
          margin-inline: 2rem;
          background-color: rgba(255, 255, 255, 0.5); /* 0.3 = 30% opacity */
          border-radius: 20px;
        }
      }